@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');




body{
  background: papayawhip;
  font-family: 'Oswald', sans-serif;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
  position: fixed;
}

.containerNav{
  display: flex;
  justify-content: center;
}



li, a, button {
  font-family: 'Oswald', sans-serif;
  
  
}

.navList{
  list-style: none;
}

.navList li{
  display:inline-block;
  padding: 0px 20px;
}



button {
  padding: 20px 50px;
  border: none;
  background: none;
  

}

h1{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

h2{
  text-align: center;
  /* padding-top: 120px; */
}

h4{
  text-align: center;
  padding-top: 60px;
}

h6{
  text-align: center;
  /* padding-top: 120px */
}



img{
  width: 100%;
  
}

p{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hidden{
  display: none;
}

.revealed{
  display: block;
}

.aboutMe{
  display: flex;
  justify-content: end;
}


.container{
  display: flex;
  justify-content: start;
  width: 300px
}

.links{
  display: flex;
  justify-content: center;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  color:aliceblue;
}

@media(max-width: 780px){

button {
  padding: 0px;
  border: none;
  background: none;
  font-size: smaller;
}

.containerNav{
  display: flex;
  justify-content: center;
}

}