body{
  background: papayawhip;
}
h1{
  text-align: center;
}

h2{
  text-align: center;
  /* padding-top: 120px; */
}

h4{
  text-align: center;
  padding-top: 60px;
}

h6{
  text-align: center;
  /* padding-top: 120px */
}



img{
  width: 100%;
  
}

p{
  text-align: center;
}

  .hidden{
    display: none;
  }

  .revealed{
    display: block;
  }

  .aboutMe{
    display: flex;
    justify-content: end;
  }


